*{
    margin: 0px;
    padding: 0px;
} 

body{
    
    background-image: url(../images/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0e75d4; 
}
li{
    float: right;
    
}

a{
    display: block;
    color: #ffffff;
    padding: 30px 60px;
    text-decoration: none;
    font-size: 40px;
    
}


a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 7px;
    transition-delay: .2s ;
    
}


h1{
    font-size: 60px;
    font-style: ;
}

hr{ margin: 1px; padding: 0px; color: #dfdbdb ;}







